<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
    </startup>
	<connectionStrings>
		<add name="conn_RFID" connectionString="Server=10.40.13.238,1433;Persist Security Info=True;User ID=mazda; Password=123456;MultipleActiveResultSets=true"/>

	</connectionStrings>
</configuration>
